# How Data Science Salaries Differ?

In [5]:
import pandas as pd
dataSalaries = pd.read_csv(r'C:\Users\lien0\OneDrive\Documents\data_cleaned_2021.csv')
print(dataSalaries)

     index                                          Job Title  \
0        0                                     Data Scientist
1        1                          Healthcare Data Scientist
2        2                                     Data Scientist
3        3                                     Data Scientist
4        4                                     Data Scientist
..     ...                                                ...
737    950           Sr Scientist, Immuno-Oncology - Oncology
738    951                               Senior Data Engineer
739    952  Project Scientist - Auton Lab, Robotics Institute
740    953                               Data Science Manager
741    955          Research Scientist â€“ Security and Privacy

                 Salary Estimate  \
0     $53K-$91K (Glassdoor est.)
1    $63K-$112K (Glassdoor est.)
2     $80K-$90K (Glassdoor est.)
3     $56K-$97K (Glassdoor est.)
4    $86K-$143K (Glassdoor est.)
..                           ...
737  $58K-$111K (Glassdoor est.)
738  $72K-$133K (Glassdoor est.)
739   $56K-$91K (Glassdoor est.)
740  $95K-$160K (Glassdoor est.)
741  $61K-$126K (Glassdoor est.)

                                       Job Description  Rating  \
0    Data Scientist\nLocation: Albuquerque, NM\nEdu...     3.8
1    What You Will Do:\n\nI. General Summary\n\nThe...     3.4
2    KnowBe4, Inc. is a high growth information sec...     4.8
3    *Organization and Job ID**\nJob ID: 310709\n\n...     3.8
4    Data Scientist\nAffinity Solutions / Marketing...     2.9
..                                                 ...     ...
737  Site Name: USA - Massachusetts - Cambridge\nPo...     3.9
738  THE CHALLENGE\nEventbrite has a world-class da...     4.4
739  The Auton Lab at Carnegie Mellon University is...     2.6
740  Data Science ManagerResponsibilities:\n\nOvers...     3.2
741  Returning Candidate? Log back in to the Career...     3.6

                                   Company Name         Location  \
0                        Tecolote Research\n3.8  Albuquerque, NM
1    University of Maryland Medical System\n3.4    Linthicum, MD
2                                  KnowBe4\n4.8   Clearwater, FL
3                                     PNNL\n3.8     Richland, WA
4                       Affinity Solutions\n2.9     New York, NY
..                                          ...              ...
737                                    GSK\n3.9    Cambridge, MA
738                             Eventbrite\n4.4    Nashville, TN
739         Software Engineering Institute\n2.6   Pittsburgh, PA
740                           Numeric, LLC\n3.2    Allentown, PA
741           Riverside Research Institute\n3.6  Beavercreek, OH

                  Headquarters          Size  Founded  ... tensor hadoop  \
0                   Goleta, CA   501 - 1000      1973  ...      0      0
1                Baltimore, MD       10000+      1984  ...      0      0
2               Clearwater, FL   501 - 1000      2010  ...      0      0
3                 Richland, WA  1001 - 5000      1965  ...      0      0
4                 New York, NY     51 - 200      1998  ...      0      0
..                         ...           ...      ...  ...    ...    ...
737  Brentford, United Kingdom       10000+      1830  ...      0      0
738          San Francisco, CA  1001 - 5000      2006  ...      0      1
739             Pittsburgh, PA   501 - 1000      1984  ...      0      0
740            Chadds Ford, PA       1 - 50        -1  ...      0      0
741              Arlington, VA   501 - 1000      1967  ...      0      0

    tableau bi flink  mongo  google_an    job_title_sim  seniority_by_title  \
0         1  1     0      0          0   data scientist                  na
1         0  0     0      0          0   data scientist                  na
2         0  0     0      0          0   data scientist                  na
3         0  0     0      0          0   data scientist                  na
4         0  0     0      0          0   data scientist                  na
..      ... ..   ...    ...        ...              ...                 ...
737       0  0     0      0          0  other scientist                  sr
738       0  0     0      0          0    data engineer                  sr
739       0  0     0      0          0  other scientist                  na
740       0  0     0      0          0   data scientist                  na
741       0  0     0      0          0  other scientist                  na

     Degree
0         M
1         M
2         M
3        na
4        na
..      ...
737       M
738      na
739       P
740      na
741       M

[742 rows x 42 columns]